@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/public/assets/fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/public/assets/fonts/PlusJakartaSans-ExtraBold.ttf")
    format("truetype");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
